.pytest_cache
**/__pycache__/
sema.log
.coverage
.env
tests/__sync__/
tests/output/
pytest.log
venv/
.venv/
object_graph_mapping.ttl
tests/ro/creator/data/katoomba-rainfall/ro-crate-metadata.json
tests/commons/aggregator/output-data/graph.ttl

# test-driven development
*tdd*
.vscode/settings.json
